#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.container {
  display: flex;
}

.btn-container, .content {
  flex: 1 1 0px;
}

.loader {
  font-size: x-large;
}

.colored {
  color: red
}
.mr-2 {
  margin-right: 8px
}